.container {
    width: 1440px;
    height: auto;
    background: rgba(240, 240, 246, 1);
    padding-top: 210px;
    position: relative;
}
.navbar {
    width: 1,440px;
    height: 90px;
    padding: 38px 96px 38px 96px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
    display: flex;
    margin-bottom: 0;
    position: fixed;
    z-index: 1;
    top:0;
}
.nav-photo {
    width: 158px;
    height: 76px;
    padding: 0px;
    gap: 0px;
    float: left;
}
.image {
    width: 158px;
    height: 76px;
    top: 38px;
    left: 96px;
    gap: 0px;
}
.nav-menu {
    width: 604px;
    height: 37px;
    gap: 0px;
    float: left;
    padding-top: 17px;
    padding-left: 486px;
}
.a {
    width: 68px;
    height: 37px;
    gap: 0px;
    border-radius: 5px;
    background: rgba(255, 180, 0, 1);
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}
.a1 {
    width: 68px;
    height: 37px;
    padding: 10px 14px 10px 14px;
    gap: 0px;
    border-radius: 10px;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
}
.nav-menu p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
}
.b {
    width: 35px;
    height: 37px;
    gap: 0px;
    border-radius: 10px;
    padding-left: 25px;
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
.b:hover {
    background: rgba(255, 180, 0, 1);
}
.b1 {
    width: 35px;
    height: 37px;
    padding: 10px 0px 10px 0px;
    gap: 0px;
    border-radius: 10px;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
}
.c {
    width: 67px;
    height: 37px;
    gap: 0px;
    border-radius: 10px;
    padding-left: 25px;
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.c1 {
    width: 67px;
    height: 37px;
    padding: 10px 0px 10px 0px;
    gap: 0px;
    border-radius: 10px;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
}
.d {
    width: 55px;
    height: 37px;
    gap: 0px;
    border-radius: 10px;
    padding-left: 25px;
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.d1 {
    width: 55px;
    height: 37px;
    padding: 10px 0px 10px 0px;
    gap: 0px;
    border-radius: 10px;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
}
.e {
    width: 120px;
    height: 37px;
    gap: 0px;
    border-radius: 10px;
    padding-left: 25px;
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.e1 {
    width: 120px;
    height: 37px;
    padding: 10px 0px 10px 0px;
    gap: 0px;
    border-radius: 10px;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
}
.f {
    width: 54px;
    height: 37px;
    gap: 0px;
    border-radius: 10px;
    padding-left: 25px;
    float: left;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.f1 {
    width: 54px;
    height: 37px;
    padding: 10px 0px 10px 0px;
    gap: 0px;
    border-radius: 10px;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
}
.header {
    width: 1440px;
    height: 631px;
    gap: 0px;
    margin-top: -49px;
    padding: 0px 0.31px 0px 0.31px;

}
.hero {
    width: 1439.38px;
    height: 630px;
    gap: 0px;
    background: rgba(255, 255, 255, 1);
    top: 140px;
    left: 0.31px;
    display: flex;
}
.hero-content {
    width: 721.69px;
    height: 405.17px;
    top: 277px;
    padding-left: 98.27px;
    padding-top: 110px;
}
.intro1 p{
    font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 59.33px;
text-align: left;
}
.intro2 {
    padding-top: -20px;
}
.intro2 p{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(118, 118, 118, 1);
}
.hire {
    width: 154px;
height: 51px;
padding: 16px 32px 16px 32px;
gap: 10px;
border-radius: 5px;
background: rgba(255, 180, 0, 1);
display: flex;
cursor: pointer;
}
.hire1{
    width: 90px;
height: 19px;
float: left;
}
.hire1 p{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: center;
}
.hire2{
    float: left;
    padding-top: 17px;
}
.arrow {
    width: 16px;
height: 16px;
}
.photo {
    width: 808.01px;
height: 550.41px;
top: 231.59px;
left: 631.68px;
float: left;
padding-top: 41px;
}
.projects {
    width: 1,244.31px;
height:1,055.16px;
margin-left: 97.85px;
margin-top: 50px;
}
.description {
    width: 654px;
height:100.26px;
gap: 12px;
padding-left: 310px;
}
.description1 {
    width: 654px;
height: 41.26px;
}
.description1 p{
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39.55px;
text-align: center;
}
.description2 {
    width: 654px;
height: 47px;
}
.description2 p{
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: rgba(118, 118, 118, 1);
}
.row1 {
    width: 1,245px;
    height: 432.45px;
    gap: 45px;
    padding-top: 40px;
    display: flex;
}
.project1 {
    width: 385px;
height: 432.45px;
gap: 0px;
border-radius: 12px;
border: 1px;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.image1 {
    width: 385px;
height: 256px;
gap: 0px;
border-radius: 12px 12px 0px 0px;
}
.projecta{
    width: 353px;
height: 64.89px;
padding-left: 20px;
}
.projecta p{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.78px;
text-align: left;
}
.projecta1 {
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(118, 118, 118, 1);
}
.projectb {
    width: 353px;
height: 60.55px;
gap: 10px;
padding-left: 20px;
display: flex;
}
.chip1 {
    width: 90px;
height: 25.28px;
border-radius: 16px;
background: rgba(239, 239, 239, 1);
border: 1px solid rgba(0, 0, 0, 0.05);
float: left;
display: flex;
    justify-content: center; 
    align-items: center;
}
.chip1 p{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.chip2 {
    width: 55px;
height: 25.28px;
border-radius: 16px;
background: rgba(239, 239, 239, 1);
border: 1px solid rgba(0, 0, 0, 0.05);
display: flex;
    justify-content: center; 
    align-items: center;
    float: left;
}
.chip2 p{
    font-family: Inter;
font-size: 13px;
font-weight: 400;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.footer {
    width: 1,440px;
height: 621px;
top: 3356px;
padding: 0px 0px 20px 0px;
margin-top: 40px;

}
.footer-logo {
    width: 970px;
height: 144px;
display: flex;
justify-content: center;
margin-left: 200px;
}
.frame1 {
    width: 140px;
height: 144px;
padding-left: 55px;
}
.frame2 {
    width: 140px;
height: 144px;
padding-left: 75px;
float: left;
}
.frame270 {
    width: 1,440px;
height: 335px;
padding: 45px 98px 0px 98px;
gap: 40px;
float: left;
margin-left: 30px;
}
.rectangle98 {
    width: 158px;
height: 76px;
top: 45px;
left: 98px;
}
.frame271 {
    width: 1,244px;
height: 230px;
margin-top: 30px;
display: flex;
}
.logos {
    width: 177px;
height: 230px;
float: left;
margin-left: 10px;
}
.rectangle97 {
    width: 177px;
height: 61px;
}
.upwork {
    width: 91px;
height: 40px;
border-radius: 4px;
}
.upwork1 p{
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: rgba(118, 118, 118, 1);
margin-top: 0px;
}
.group270 {
    width: 149px;
height: 64px;
margin-top: 16px;
}
.dribble {
    width: 73px;
height: 40px;
border-radius: 4px;
}
.rectangle100 {
    width: 146px;
height: 65px;
margin-top: 16px;
}
.fiverr {
    width: 76px;
height: 40px;
border-radius: 4px;
}
.links {
    width: 780px;
height: 202px;
float: left;
margin-left: 220px;
display: flex;
}
.quicklinks {
    width: 141px;
height:202px;
margin-left: 60px;
float: left;
}
.heading p{
    width: 114px;
height: 30px;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: left;
margin-top: 0px;
}
.heading1 p{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}
.portfolio {
    width: 174px;
height: 202px;
margin-left: 110px;
float: left;
}
.connect{
    width: 125px;
height: 157px;
margin-left: 110px;
float: left;
}
.social {
    width: 100px;
height: 25px;
padding-bottom: 17px;
}
.copyright {
    width: 283px;
height: 50px;
padding: 16px 0px 16px 0px;
float: left;
margin-left: 600px;
margin-top: 0px;
}
.vector {
    width: 21px;
height: 21px;
top: 1.5px;
left: 1.5px;
float: left;
}
.copyright p{
    width: 249px;
height: 24px;
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(118, 118, 118, 1);
float: left;
margin-left: 10px;
margin-top: 0px;
}
.contact-info {
    width: 1,440px;
height: 759.67px;
top: 2536.33px;
padding: 0px 98px 0px 98px;
display: grid;
place-items: center;
}
.content {
    width: 1244px;
height: 759.67px;
display: flex;
}
.leave-info{
    width: 846px;
height: 759px;
top: 0.67px;
left: 98px;
gap: 45px;
float: left;
}
.information{
    width: 373px;
height: 759.67px;
left: 969px;
float: left;
}
.information p{
    width: 318px;
height: 39px;
left: 969px;
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39.55px;
text-align: left;
}
.location{
    width: 372.7px;
height: 200px;
left: 969px;
background-color: white;
}
.ellipse41 {
    width: 40.29px;
height: 40.21px;
margin-left: 80px;
margin-top: 27px;
}
.location1{
    width: 18.13px;
height: 18.1px;
margin-left: 85px;
margin-top: 0px;
}
.location2 p{
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22.25px;
text-align: left;
margin-left: 20px;
}
.country {
    width: 58.42px;
height: 22.12px;
}
.location3 p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.25px;
    text-align: left;
    margin-left: 20px;
}
.country1 {
        width: 58.42px;
    height: 22.12px;
}
.location3{
        margin-top: -120px;
    margin-left: 290px;
}
.location4{
    margin-top: -120px;
    margin-left: 300px;
}
    .location4 p{
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 22.25px;
        text-align: left;
        margin-left: -87px;
     }
 .location5{
        margin-top: -120px;
        margin-left: 300px;
}
.location5 p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.25px;
    text-align: left;
    margin-left: -34px;
}
.leave-info p{
    width: 846px;
height: 40.21px;
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39.55px;
text-align: left;
}
.info-details {
    width: 740px;
height: 604.79px;
padding: 25px 36px 25px 36px;
gap: 22px;
background: rgba(255, 255, 255, 1);
}
label {
    width: 339.93px;
height: 22.04px;
top: 25px;
left: 36px;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22.25px;
text-align: left;
color: rgba(118, 118, 118, 1);
}
#name, #email, #subject {
    width: 730px;
height: 50px;
margin-top: 2px;
border-radius: 5px;
background: rgba(240, 240, 246, 1);
border: none;
}
#message {
    width: 730px;
height: 150px;
margin-top: 2px;
border-radius: 5px;
background: rgba(240, 240, 246, 1);
border: none;
}
button {
    width: 151px;
height: 50.83px;
padding: 17px 16px 17px 16px;
border-radius: 5px;
background: rgba(255, 180, 0, 1);
border: none;
cursor: pointer;
}